.container {
  padding: 10px;
  border: 1px solid blue;
}

.castList {
  display: flex;
  justify-content: left;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.castItem {
  width: calc(10% - 10px);
  min-height: 200px;
  margin: 5px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.photo {
  margin-bottom: 10px;
  background-color: gray;
}

.descriptBox {
  padding: 5px;
}

.name {
  margin-bottom: 5px;
  font-size: 14px;

  color: orangered;
}

.roleBox {
  text-align: left;
  font-size: 12px;
}

.role {
  font-weight: 500;
}
