.container {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: pink;
}

.navigation {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  font-weight: 500;
}

.link {
  position: relative;
  overflow: hidden;

  color: black;
}

.link::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: blue;
  transform: translateX(-100%);

  transition: transform 250ms ease-in-out;
}

.link:hover::before {
  transform: translateX(0);
}

.link:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  color: blue;
}

.moveButton {
  padding: 3px 5px;
  margin-right: 10px;

  font: inherit;
  font-size: 12px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.moveButton:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.moveButton:focus {
  background-color: rgba(0, 0, 255, 0.5);
}
