.searchBar {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input {
  min-width: 300px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;

  font: inherit;
}

.input::placeholder {
  opacity: 1;

  transition: opacity 250ms ease-in-out;
}

.input:focus::placeholder {
  opacity: 0;
}

.button {
  min-width: 100px;
  padding: 10px;
  font: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background-color: blue;

  transition: background-color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: rgba(0, 0, 255, 0.5);
}
